<button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#sortingModal">Sort</button>

<!-- Sorting Modal -->
<div class="modal fade" id="sortingModal" tabindex="-1" aria-labelledby="sortingModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="sortingModalLabel">Sorting</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="{{ url_for('halloffame.view_table', p=current_page, sort=sort, filter=filter) }}" method="POST">

            <div class="d-flex mb-3 justify-content-between align-items-center">
                <label for="sortNameFirst" class="form-label">First Name</label>
                <div>
                <input type="radio" class="btn-check" name="firstName" id="firstNameASC" autocomplete="off" value="ASC">
                <label class="btn btn-outline-primary" for="firstNameASC">▲</label>

                <input type="radio" class="btn-check" name="sortNameFirst" id="sortNameFirstDESC" autocomplete="off" value="DESC">
                <label class="btn btn-outline-primary" for="sortNameFirstDESC">▼</label>
                </div>
            </div> <hr/>

            <div class="d-flex mb-3 justify-content-between align-items-center">
                <label for="sortnameLast" class="form-label">Last Name</label>
                <div>
                <input type="radio" class="btn-check" name="sortNameLast" id="sortNameLastASC" autocomplete="off" value="ASC">
                <label class="btn btn-outline-primary" for="sortNameLastASC">▲</label>

                <input type="radio" class="btn-check" name="sortNameLast" id="sortNameLastDESC" autocomplete="off" value="DESC">
                <label class="btn btn-outline-primary" for="sortNameLastDESC">▼</label>
                </div>
            </div> <hr/>


            <div class="d-flex mb-3 justify-content-between align-items-center">
                <label for="sortYearID" class="form-label">Year</label>
                <div>
                <input type="radio" class="btn-check" name="yearID" id="sortYearIDASC" autocomplete="off" value="ASC">
                <label class="btn btn-outline-primary" for="yearIDASC">▲</label>

                <input type="radio" class="btn-check" name="sortYearID" id="sortYearIDDESC" autocomplete="off" value="DESC">
                <label class="btn btn-outline-primary" for="sortYearIDDESC">▼</label>
                </div>
            </div> <hr/>

            <div class="d-flex mb-3 justify-content-between align-items-center">
                
            </div>



            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
        </div>
      </div>
    </div>
</div>