<!-- Update Modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal"
    data-bs-target="#updateModal{{data.ID}}" data-toggle="tooltip" title="Update the record">{% include
    'svg_icons/pencil.html' %}</button>

<div class="modal fade" id="updateModal{{data['ID']}}" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="updateModalLabel">Update Record</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="{{ url_for('halloffame.update_record', ID=data['ID'], p=current_page, sort=sort, filter=filter) }}" method="POST">
            <input type="hidden" name="ID" value="{{data['ID']}}">
            <div class="mb-3">
              <label for="name_first" class="form-label">First Name</label>
              <input type="text" class="form-control" id="name_first" name="name_first" value="{{ data['nameFirst'] }}" disabled>
            </div>
            <div class="mb-3">
              <label for="name_last" class="form-label">Last Name</label>
              <input type="text" class="form-control" id="name_last" name="name_last" value="{{ data['nameLast'] }}" disabled>
            </div>
            <div class="mb-3">
              <label for="yearID" class="form-label">Year</label>
              <input type="text" class="form-control" id="yearID" name="yearID" value="{{ data['yearID'] }}">
            </div>
            <div class="mb-3">
              <label for="votedBy" class="form-label">Voted By</label>
              <input type="text" class="form-control" id="votedBy" name="votedBy" value="{{ data['votedBy'] }}">
            </div>
            <div class="mb-3">
              <label for="ballots" class="form-label">Ballots</label>
              <input type="text" class="form-control" id="ballots" name="ballots" value="{{ data['ballots'] }}">
            </div>
            <div class="mb-3">
              <label for="needed" class="form-label">Needed</label>
              <input type="text" class="form-control" id="needed" name="needed" value="{{ data['needed'] }}">
            </div>
            <div class="mb-3">
              <label for="votes" class="form-label">Votes</label>
              <input type="text" class="form-control" id="votes" name="votes" value="{{ data['votes'] }}">
            </div>
            <div class="mb-3">
              <label for="inducted" class="form-label">Inducted</label>
              <input type="text" class="form-control" id="inducted" name="inducted" value="{{ data['inducted'] }}">
            </div>
            <div class="mb-3">
              <label for="category" class="form-label">Category</label>
              <input type="text" class="form-control" id="category" name="category" value="{{ data['category'] }}">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save Changes</button>
            </div>
        </form>
        </div>
      </div>
    </div>
  </div>