<button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#filterModal">Filter</button>

<!-- Filter Modal -->
<div class="modal fade" id="filterModal" tabindex="-1" aria-labelledby="filterModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="filterModalLabel">Filter</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{{ url_for('discussions.view_table') }}" method="GET">
                    <div class="mb-3">
                        <label for="filter_title" class="form-label">Title</label>
                        <input type="text" class="form-control" id="filter_title" name="filter_title"
                            placeholder="Title">
                    </div>
                    <div class="mb-3">
                        <label for="filter_author" class="form-label">Author</label>
                        <input type="text" class="form-control" id="filter_author" name="filter_author"
                            placeholder="Author">
                    </div>
                    <div class="mb-3">
                        <label for="filter_date_created" class="form-label">Date Created</label>
                        <input type="date" class="form-control" id="filter_date_created" name="filter_date_created"
                            placeholder="Date Created">
                    </div>
                    <div class="mb-3">
                        <label for="filter_last_message_author" class="form-label">Last Message Author</label>
                        <input type="text" class="form-control" id="filter_last_message_author"
                            name="filter_last_message_author" placeholder="Last Message Author">
                    </div>
                    <div class="mb-3">
                        <label for="filter_last_message_date" class="form-label">Last Message Date</label>
                        <input type="date" class="form-control" id="filter_last_message_date"
                            name="filter_last_message_date" placeholder="Last Message Date">
                    </div>
                    <div class="mb-3">
                        <label for="filter_last_message" class="form-label">Last Message</label>
                        <input type="text" class="form-control" id="filter_last_message" name="filter_last_message"
                            placeholder="Last Message">
                    </div>
                    <button type="submit" class="btn btn-primary">Filter</button>
                </form>
            </div>
        </div>
    </div>
</div>