<button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#filterModal">Filter</button>

<!-- Filter Modal -->
<div class="modal fade" id="filterModal" tabindex="-1" aria-labelledby="filterModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="filterModalLabel">Filter</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{{ url_for('parks.view_table', p=current_page, sort=sort, filter=filter) }}"
                    method="POST">

                    <div class="mb-3">
                        <label for="filterParkName" class="form-label">Park Name</label>
                        <input type="text" class="form-control" id="filterParkName" name="filterParkName">
                    </div>
                    <div class="mb-3">
                        <label for="filterParkAlias" class="form-label">Park Alias</label>
                        <input type="text" class="form-control" id="filterParkAlias" name="filterParkAlias">
                    </div>
                    <div class="mb-3">
                        <label for="filterParkKey" class="form-label">Park Code</label>
                        <input type="text" class="form-control" id="filterParkKey" name="filterParkKey">
                    </div>
                    <div class="mb-3">
                        <label for="filterCountry" class="form-label">Country</label>
                        <input type="text" class="form-control" id="filterCountry" name="filterCountry">
                    </div>
                    <div class="mb-3">
                        <label for="filterState" class="form-label">State</label>
                        <input type="text" class="form-control" id="filterState" name="filterState">
                    </div>
                    <div class="mb-3">
                        <label for="filterCity" class="form-label">City</label>
                        <input type="text" class="form-control" id="filterCity" name="filterCity">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Filter</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>