<!-- Update Modal -->
<div class="modal fade" id="updateModal{{data['player_id']}}" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="updateModalLabel">Update Record</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="{{ url_for('people.update_record', player_id=data['player_id'], p=current_page, sort=sort, filter=filter) }}" method="POST">
            <input type="hidden" name="player_id" value="{{data['player_id']}}">
            <div class="mb-3">
              <label for="name_first" class="form-label">First Name</label>
              <input type="text" class="form-control" id="name_first" name="name_first" value="{{ data['name_first'] }}">
            </div>
            <div class="mb-3">
              <label for="name_last" class="form-label">Last Name</label>
              <input type="text" class="form-control" id="name_last" name="name_last" value="{{ data['name_last'] }}">
            </div>
            <div class="mb-3">
              <label for="name_given" class="form-label">Given Name</label>
              <input type="text" class="form-control" id="name_given" name="name_given" value="{{ data['name_given'] }}">
            </div>
            <div class="mb-3">
              <label for="birth_date" class="form-label">Birth Date</label>
              <input type="text" class="form-control" id="birth_date" name="birth_date" value="{{ data['birth_date'] }}">
            </div>
            <div class="mb-3">
              <label for="birth_country" class="form-label">Birth Country</label>
              <input type="text" class="form-control" id="birth_country" name="birth_country" value="{{ data['birth_country'] }}">
            </div>
            <div class="mb-3">
              <label for="weight" class="form-label">Weight</label>
              <input type="text" class="form-control" id="weight" name="weight" value="{{ data['weight'] }}">
            </div>
            <div class="mb-3">
              <label for="height" class="form-label">Height</label>
              <input type="text" class="form-control" id="height" name="height" value="{{ data['height'] }}">
            </div>
            <div class="mb-3">
              <label for="bats" class="form-label">Bats</label>
              <input type="text" class="form-control" id="bats" name="bats" value="{{ data['bats'] }}">
            </div>
            <div class="mb-3">
              <label for="throws" class="form-label">Throws</label>
              <input type="text" class="form-control" id="throws" name="throws" value="{{ data['throws'] }}">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save Changes</button>
            </div>
        </form>
        </div>
      </div>
    </div>
  </div>