{% extends "table_base.html" %}
{% block header %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<title>Divisions</title>
{% endblock %}


{% block table %}
<!-- Script is for modals to work. -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="..."
    crossorigin="anonymous"></script>

<h1>Divisions</h1>
<p><a href="{{ url_for('index.index') }}">Homepage</a></p>

<div class="container-fluid mb-3 justify-content-start">
    <!-- Filter Button -->
    {% include 'table_divisions/utils/filter_modal.html' %}
    <!-- Sort Button -->
    {% include 'table_divisions/utils/sort_modal.html' %}
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">League Code</th>
            <th scope="col">League Name</th>
            <th scope="col">Is league active?</th>
            <th scope="col">Division Code</th>
            <th scope="col">Division Name</th>
            <th scope="col">Is division active?</th>
            <th scope="col">Admin Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for data in data_list %}
        <tr>
            <td>{{ data.lgID }}</td>
            <td>{{ data.league }}</td>
            <td>{{ data.lgActive }}</td>
            <td>{{ data.divID }}</td>
            <td>{{ data.division }}</td>
            <td>{{ data.divActive }}</td>
            <td>
                {% include 'table_divisions/utils/update_modal.html' %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% include 'table_divisions/utils/pagination.html' %}

{% endblock %}