{% extends "table_base.html" %}
{% block header %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<title>Error</title>
{% endblock %}

{% block table %}

<div class="table-body-outlier">
    <h1>OPPS!</h1>
    <p>Sorry, something went wrong while processing your request.</p>
    <h2>Error Type:</h2>
    <p>{{ error_type }}</p>
    <h2>Error Message:</h2>
    <p>{{ error_message }}</p>
    <form>
        <input type="button" value="Return" onclick="history.back()">
    </form>
</div>
{% endblock %}