{% extends "table_base.html" %}
{% block header %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Fielding Table</title>
{% endblock %}

{% block table %}
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="..." crossorigin="anonymous"></script>

    <h1>Fielding Table</h1>
    <p><a href="{{ url_for('index.index') }}">Homepage</a></p>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Team Name</th>
                <th scope="col">Year ID</th>
                <th scope="col">Stint</th>
                <th scope="col">League Name</th>
                <th scope="col">Position</th>
                <th scope="col">Games</th>
                <th scope="col">Games Started</th>
                <th scope="col">Innings/Outs</th>
                <th scope="col">Putouts (PO)</th>
                <th scope="col">Assists (A)</th>
                <th scope="col">Errors (E)</th>
                <th scope="col">Double Plays (DP)</th>
                <th scope="col">Admin Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for data in data_list %}
            <tr>
                <td>{{ data['FirstName'] }}</td>
                <td>{{ data['LastName'] }}</td>
                <td>{{ data['TeamName'] }}</td>
                <td>{{ data['yearID'] }}</td>
                <td>{{ data['stint'] }}</td>
                <td>{{ data['LeagueName'] }}</td>
                <td>{{ data['POS'] }}</td>
                <td>{{ data['G'] }}</td>
                <td>{{ data['GS'] }}</td>
                <td>{{ data['InnOuts'] }}</td>
                <td>{{ data['PO'] }}</td>
                <td>{{ data['A'] }}</td>
                <td>{{ data['E'] }}</td>
                <td>{{ data['DP'] }}</td>
                <td>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#updateModal{{data['ID']}}">Update</button>
                </td>
            </tr>
    
            <!-- Update Modal -->
            <div class="modal fade" id="updateModal{{data['ID']}}" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="updateModalLabel">Update Record</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="{{ url_for('fielding.update_record', ID=data['ID']) }}" method="POST">
    
                                <input type="hidden" name="ID" value="{{data['ID']}}">

                                <div class="mb-3">
                                    <label for="team_id" class="form-label">Team</label>
                                    <select class="form-control" id="team_id" name="team_id">
                                        {% for team in teams_list %}
                                        {% if team['name']==data['TeamName'] %}
                                        <option selected="selected" value={{ team['team_id'] }}>{{ team['name'] }}
                                        </option>
                                        {% else %}
                                        <option value={{ team['team_id'] }}>{{ team['name'] }}</option>
                                        {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                                
                                <div class="mb-3">
                                    <label for="yearID" class="form-label">Year ID</label>
                                    <input type="text" class="form-control" id="yearID" name="yearID" value="{{ data['yearID'] }}">
                                </div>
                                <div class="mb-3">
                                    <label for="stint" class="form-label">Stint</label>
                                    <input type="text" class="form-control" id="stint" name="stint" value="{{ data['stint'] }}">
                                </div>
                                

                                <div class="mb-3">
                                    <label for="lgID" class="form-label">League</label>
                                    <select class="form-control" id="lgID" name="lgID">
                                        {% for league in leagues_list %}
                                        {% if league['league']==data['LeagueName'] %}
                                        <option selected="selected" value={{ league['lgID'] }}>{{ league['league'] }}
                                        </option>
                                        {% else %}
                                        <option value={{ league['lgID'] }}>{{ league['league'] }}</option>
                                        {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="POS" class="form-label">Position</label>
                                    <input type="text" class="form-control" id="POS" name="POS" value="{{ data['POS'] }}">
                                </div>
                                <div class="mb-3">
                                    <label for="G" class="form-label">Games</label>
                                    <input type="text" class="form-control" id="G" name="G" value="{{ data['G'] }}">
                                </div>
                                <div class="mb-3">
                                    <label for="GS" class="form-label">Games Started</label>
                                    <input type="text" class="form-control" id="GS" name="GS" value="{{ data['GS'] }}">
                                </div>
                                <div class="mb-3">
                                    <label for="InnOuts" class="form-label">Innings/Outs</label>
                                    <input type="text" class="form-control" id="InnOuts" name="InnOuts" value="{{ data['InnOuts'] }}">
                                </div>
                                <div class="mb-3">
                                    <label for="PO" class="form-label">Putouts (PO)</label>
                                    <input type="text" class="form-control" id="PO" name="PO" value="{{ data['PO'] }}">
                                </div>
                                <div class="mb-3">
                                    <label for="A" class="form-label">Assists (A)</label>
                                    <input type="text" class="form-control" id="A" name="A" value="{{ data['A'] }}">
                                </div>
                                <div class="mb-3">
                                    <label for="E" class="form-label">Errors (E)</label>
                                    <input type="text" class="form-control" id="E" name="E" value="{{ data['E'] }}">
                                </div>
                                <div class="mb-3">
                                    <label for="DP" class="form-label">Double Plays (DP)</label>
                                    <input type="text" class="form-control" id="DP" name="DP" value="{{ data['DP'] }}">
                                </div>
                            
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Save Changes</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </tbody>
    </table>
    

    <nav aria-label="Pagination">
        <ul class="pagination justify-content-center">
            {% if current_page == 1 %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">First</a>
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                </li>
            {% else %}
                <li class="page-item">
                    <a class="page-link" href="{{ url_for('fielding.view_table', p=1) }}" aria-label="First">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">First</span>
                    </a>
                <li class="page-item">
                    <a class="page-link" href="{{ url_for('fielding.view_table', p=current_page-1) }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                    </a>
                </li>
            {% endif %}
            {% for page_num in range(current_page-5, current_page) %}
                {% if page_num > 0 %}
                    <li class="page-item"><a class="page-link" href="{{ url_for('fielding.view_table', p=page_num) }}">{{ page_num }}</a></li>
                {% endif %}
            {% endfor %}
            <li class="page-item active">
                <span class="page-link">
                  {{ current_page }}
                </span>
            </li>
            {% for page_num in range(current_page+1, current_page+6) %}
                {% if page_num <= total_pages %}
                    <li class="page-item"><a class="page-link" href="{{ url_for('fielding.view_table', p=page_num) }}">{{ page_num }}</a></li>
                {% endif %}
            {% endfor %}
            {% if current_page == total_pages %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
                </li>
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Last</a>
            {% else %}
                <li class="page-item">
                    <a class="page-link" href="{{ url_for('fielding.view_table', p=current_page+1) }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="{{ url_for('fielding.view_table', p=total_pages) }}" aria-label="Last">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Last</span>
                    </a>
            {% endif %}
        </ul>
      </nav>
</body>
</html>
{% endblock %}