<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    
    <title>People Table</title>
    
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="..." crossorigin="anonymous"></script>

    <h1>People Table</h1>
    <p><a href="{{ url_for('index.index') }}">Homepage</a></p>

    <!-- Search Bar -->
    <div class="container">
        <form action="{{ url_for('people.search_records') }}" method="POST">
            <div class="input-group mb-3">
              <div class="dropdown-center">
                <select class="form-select shadow-none" aria-label="col-dropdown" name="col">
                  <option value="nameFirst">First Name</option>
                  <option value="nameLast">Last Name</option>
                  <option value="nameGiven">Given Name</option>
                  <option value="birth_date">Birth Date</option>
                  <option value="birthCountry">Birth Country</option>
                  <option value="weight">Weight</option>
                  <option value="height">Height</option>
                  <option value="bats">Bats</option>
                  <option value="throws">Throws</option>
                </select>
              </div>
                <input type="text" class="form-control shadow-none" placeholder="Search" aria-label="Search" aria-describedby="search-button" name="val" value="{{search_val}}">
                <button class="btn btn-secondary shadow-none" type="submit" id="search-button">Search</button>
            </div>
        </form>
    </div>
    
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Given Name</th>
                <th scope="col">Birth Date</th>
                <th scope="col">Birth Country</th>
                <th scope="col">Weight</th>
                <th scope="col">Height</th>
                <th scope="col">Bats</th>
                <th scope="col">Throws</th>
                <th scope="col">Admin Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for data in data_list %}
            <tr>
                <td>{{ data.name_first }}</td>
                <td>{{ data.name_last }}</td>
                <td>{{ data.name_given }}</td>
                <td>{{ data.birth_date }}</td>
                <td>{{ data.birth_country }}</td>
                <td>{{ data.weight }}</td>
                <td>{{ data.height }}</td>
                <td>{{ data.bats }}</td>
                <td>{{ data.throws }}</td>
                <td>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#updateModal{{data['player_id']}}">Update</button>
                </td>
            </tr>

            <!-- Update Modal -->
            <div class="modal fade" id="updateModal{{data['player_id']}}" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="updateModalLabel">Update Record</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <form action="{{ url_for('people.update_record', player_id=data['player_id']) }}" method="POST">

                        <input type="hidden" name="player_id" value="{{data['player_id']}}">
                        <div class="mb-3">
                          <label for="name_first" class="form-label">First Name</label>
                          <input type="text" class="form-control" id="name_first" name="name_first" value="{{ data['name_first'] }}">
                        </div>
                        <div class="mb-3">
                          <label for="name_last" class="form-label">Last Name</label>
                          <input type="text" class="form-control" id="name_last" name="name_last" value="{{ data['name_last'] }}">
                        </div>
                        <div class="mb-3">
                          <label for="name_given" class="form-label">Given Name</label>
                          <input type="text" class="form-control" id="name_given" name="name_given" value="{{ data['name_given'] }}">
                        </div>
                        <div class="mb-3">
                          <label for="birth_date" class="form-label">Birth Date</label>
                          <input type="text" class="form-control" id="birth_date" name="birth_date" value="{{ data['birth_date'] }}">
                        </div>
                        <div class="mb-3">
                          <label for="birth_country" class="form-label">Birth Country</label>
                          <input type="text" class="form-control" id="birth_country" name="birth_country" value="{{ data['birth_country'] }}">
                        </div>
                        <div class="mb-3">
                          <label for="weight" class="form-label">Weight</label>
                          <input type="text" class="form-control" id="weight" name="weight" value="{{ data['weight'] }}">
                        </div>
                        <div class="mb-3">
                          <label for="height" class="form-label">Height</label>
                          <input type="text" class="form-control" id="height" name="height" value="{{ data['height'] }}">
                        </div>
                        <div class="mb-3">
                          <label for="bats" class="form-label">Bats</label>
                          <input type="text" class="form-control" id="bats" name="bats" value="{{ data['bats'] }}">
                        </div>
                        <div class="mb-3">
                          <label for="throws" class="form-label">Throws</label>
                          <input type="text" class="form-control" id="throws" name="throws" value="{{ data['throws'] }}">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save Changes</button>
                        </div>
                    </form>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
        </tbody>
    </table>

    <nav aria-label="Pagination">
        <ul class="pagination justify-content-center">
            {% if current_page == 1 %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">First</a>
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                </li>
            {% else %}
                <li class="page-item">
                    <a class="page-link" href="{{ url_for('people.view_table', p=1) }}" aria-label="First">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">First</span>
                    </a>
                <li class="page-item">
                    <a class="page-link" href="{{ url_for('people.view_table', p=current_page-1) }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                    </a>
                </li>
            {% endif %}
            {% for page_num in range(current_page-5, current_page) %}
                {% if page_num > 0 %}
                    <li class="page-item"><a class="page-link" href="{{ url_for('people.view_table', p=page_num) }}">{{ page_num }}</a></li>
                {% endif %}
            {% endfor %}
            <li class="page-item active">
                <span class="page-link">
                  {{ current_page }}
                </span>
            </li>
            {% for page_num in range(current_page+1, current_page+6) %}
                {% if page_num <= total_pages %}
                    <li class="page-item"><a class="page-link" href="{{ url_for('people.view_table', p=page_num) }}">{{ page_num }}</a></li>
                {% endif %}
            {% endfor %}
            {% if current_page == total_pages %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
                </li>
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Last</a>
            {% else %}
                <li class="page-item">
                    <a class="page-link" href="{{ url_for('people.view_table', p=current_page+1) }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="{{ url_for('people.view_table', p=total_pages) }}" aria-label="Last">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Last</span>
                    </a>
            {% endif %}
        </ul>
      </nav>

</body>
</html>
