<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/styles.css">
    <script src="/static/js/script.js"></script>
    {% block header %}{% endblock %}
</head>

<body>
    <!--Maybe photos here-->

    <ul class="navbar">
        <li class="navbar_item"><a href="{{ url_for('index.index') }}">Homepage</a></li>
        <li class="navbar_item"><a href="{{ url_for('people.view_table') }}">People</a></li>
        <li class="navbar_item"><a href="{{ url_for('fielding.view_table') }}">Fielding</a></li>
        <li class="navbar_item"><a href="{{ url_for('divisions.view_table') }}">Divisions</a></li>
        <li class="navbar_item"><a href="{{ url_for('parks.view_table') }}">Parks</a></li>
        <li class="navbar_item"><a href="{{ url_for('teams.view_table') }}">Teams</a></li>
        <li class="navbar_item"><a href="{{ url_for('batting.view_table') }}">Batting</a></li>
        <li class="navbar_item"><a href="{{ url_for('leagues.view_table') }}">Leagues</a></li>
    </ul>


    {% block table %}{% endblock %}

</body>

</html>