<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/css/styles.css">
  <link rel="icon" href="/static/icon.ico" type="image/x-icon">
  <script src="/static/js/script.js"></script>
  {% block header %}{% endblock %}
</head>

<body>
  {% include 'navbar.html' %}

  <!-- Space between navbar and content-->
  <div class="container-fluid" style="height: 1vh;"></div>

  <div class="table-body-outlier">
    {% block table %}{% endblock %}
  </div>

</body>

</html>