<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <title>Divisions Table</title>

</head>

<body>
    <h1>All Teams</h1>
    <p><a href="{{ url_for('index.index') }}">Homepage</a></p>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Team Name</th>
                <th scope="col">Number of Records</th>
            </tr>
        </thead>
        <tbody>
            {% for data in data_list %}
            <tr>
                <td>{{ data['team_name'] }}</td>
                <td>{{ data['number_of_records'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <nav aria-label="Pagination">
        <ul class="pagination justify-content-center">
            {% if current_page == 1 %}
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">First</a>
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="{{ url_for('teams_name.view_table', p=1) }}" aria-label="First">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">First</span>
                </a>
            <li class="page-item">
                <a class="page-link" href="{{ url_for('teams_name.view_table', p=current_page-1) }}"
                    aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            {% endif %}
            {% for page_num in range(current_page-5, current_page) %}
            {% if page_num > 0 %}
            <li class="page-item"><a class="page-link" href="{{ url_for('teams_name.view_table', p=page_num) }}">{{
                    page_num
                    }}</a></li>
            {% endif %}
            {% endfor %}
            <li class="page-item active">
                <span class="page-link">
                    {{ current_page }}
                </span>
            </li>
            {% for page_num in range(current_page+1, current_page+6) %}
            {% if page_num <= total_pages %} <li class="page-item"><a class="page-link"
                    href="{{ url_for('teams_name.view_table', p=page_num) }}">{{ page_num }}</a></li>
                {% endif %}
                {% endfor %}
                {% if current_page == total_pages %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
                </li>
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Last</a>
                    {% else %}
                <li class="page-item">
                    <a class="page-link" href="{{ url_for('teams_name.view_table', p=current_page+1) }}"
                        aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="{{ url_for('teams_name.view_table', p=total_pages) }}" aria-label="Last">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Last</span>
                    </a>
                    {% endif %}
        </ul>
    </nav>

</body>

</html>