<button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addModal" data-toggle="tooltip"
    title="Add a new record">{% include
    'svg_icons/plus.html' %}</button>

<!-- Add Modal -->
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="addModalLabel">Add Record</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{{ url_for('homegames.add_record', p=current_page, filter=filter, sort=sort) }}"
                    method="POST">

                    <div class="mb-3">
                        <label for="yearkey" class="form-label">Year</label>
                        <input type="number" class="form-control" id="yearkey" name="yearkey">
                    </div>

                    <div class="mb-3">
                        <label for="leaguekey" class="form-label">League</label>
                        <select class="form-control" id="leaguekey" name="leaguekey">
                            <option value="">None</option>
                            {% for league in leagues_list %}
                            <option value="{{ league['lgID'] }}">{{ league['league'] }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="mb-3">
                        <label for="team_ID" class="form-label">Team</label>
                        <select class="form-control" id="team_ID" name="team_ID">
                            <option value="">None</option>
                            {% for team in teams_list %}
                            <option value="{{ team['ID'] }}">{{ team['name'] }}</option>
                            {% endfor %}
                        </select>

                    </div>

                    <div class="mb-3">
                        <label for="park_ID" class="form-label">Park</label>
                        <select class="form-control" id="park_ID" name="park_ID">
                            <option value="">None</option>
                            {% for park in parks_list %}
                            <option value="{{ park['ID'] }}">{{ park['parkname'] }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="mb-3">
                        <label for="games" class="form-label">Games</label>
                        <input type="number" class="form-control" id="games" name="games">
                    </div>

                    <div class="mb-3">
                        <label for="openings" class="form-label">Openings</label>
                        <input type="number" class="form-control" id="openings" name="openings">
                    </div>

                    <div class="mb-3">
                        <label for="attendance" class="form-label">Attendance</label>
                        <input type="number" class="form-control" id="attendance" name="attendance">
                    </div>

                    <div class="mb-3">
                        <label for="spanfirst_date" class="form-label">Span First Date</label>
                        <input type="date" class="form-control" id="spanfirst_date" name="spanfirst_date">
                    </div>

                    <div class="mb-3">
                        <label for="spanlast_date" class="form-label">Span Last Date</label>
                        <input type="date" class="form-control" id="spanlast_date" name="spanlast_date">
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Add Park</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>