<button type="button" class="btn btn-primary" data-bs-toggle="modal"
    data-bs-target="#updateModal{{data.ID}}">Update</button>

<!-- Update Modal -->
<div class="modal fade" id="updateModal{{data.ID}}" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="updateModalLabel">Update Record</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form
                    action="{{ url_for('parks.update_record', ID=data.ID, p=current_page, filter=filter, sort=sort) }}"
                    method="POST">

                    <input type="hidden" name="ID" value="{{data.ID}}">
                    <div class="mb-3">
                        <label for="parkname" class="form-label">Park Name</label>
                        <input type="text" class="form-control" id="parkname" name="parkname"
                            value="{{ data.parkname }}">
                    </div>
                    <div class="mb-3">
                        <label for="parkalias" class="form-label">Park Alias</label>
                        <input type="text" class="form-control" id="parkalias" name="parkalias"
                            value="{{ data.parkalias }}">
                    </div>
                    <div class="mb-3">
                        <label for="parkkey" class="form-label">Park Code</label>
                        <input type="text" class="form-control" id="parkkey" name="parkkey" value="{{ data.parkkey }}">
                    </div>
                    <div class="mb-3">
                        <label for="country" class="form-label">Country</label>
                        <input type="text" class="form-control" id="country" name="country" value="{{ data.country }}">
                    </div>
                    <div class="mb-3">
                        <label for="state" class="form-label">State</label>
                        <input type="text" class="form-control" id="state" name="state" value="{{ data.state }}">
                    </div>
                    <div class="mb-3">
                        <label for="city" class="form-label">City</label>
                        <input type="text" class="form-control" id="city" name="city" value="{{ data.city }}">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save Changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>