<button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addModal" data-toggle="tooltip"
    title="Add a new record">{% include
    'svg_icons/plus.html' %}</button>

<!-- Add Modal -->
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="addeModalLabel">Add Record</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{{ url_for('managers.add_record', p=current_page, filter=filter, sort=sort, players_list = players_list) }}"
                    method="POST">
                

                    <div class="mb-3">
                        <label for="playerID" class="form-label">Manager</label>
                        <select class="form-control" id="playerID" name="playerID">
                            <option value="">None</option>
                            {% for player in players_list %}
                              <option value="{{ player['playerID'] }}">{{ player['nameFirst'] }} {{ player['nameLast'] }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="mb-3">
                        <label for="yearID" class="form-label">Year</label>
                        <input type="text" class="form-control" id="yearID" name="yearID">
                    </div>

                    <div class="mb-3">
                        <label for="team_ID" class="form-label">Team</label>
                        <select class="form-control" id="team_ID" name="team_ID">
                            <option value="">None</option>
                            {% for team in teams_list %}
                              <option value="{{ team['ID'] }}">{{ team['name']}}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="mb-3">
                        <label for="lgID" class="form-label">League</label>
                        <select class="form-control" id="lgID" name="lgID">
                            <option value="">None</option>
                            {% for league in leagues_list %}
                              <option value="{{ league['lgID'] }}">{{ league['league']}}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="mb-3">
                        <label for="inseason" class="form-label">In Season</label>
                        <input type="text" class="form-control" id="inseason" name="inseason">
                    </div>

                    <div class="mb-3">
                        <label for="G" class="form-label">Games</label>
                        <input type="text" class="form-control" id="G" name="G">
                    </div>

                    <div class="mb-3">
                        <label for="W" class="form-label">Wins</label>
                        <input type="text" class="form-control" id="W" name="W">
                    </div>

                    <div class="mb-3">
                        <label for="L" class="form-label">Losses</label>
                        <input type="text" class="form-control" id="L" name="L">
                    </div>

                    <div class="mb-3">
                        <label for="plyrMgr" class="form-label">Player Manager</label>
                        <input type="text" class="form-control" id="plyrMgr" name="plyrMgr">
                    </div>


                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Add Record</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>